<div class="container mt-5">
    <div class="bordered">
        <h1>Productos</h1>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">categoría</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody id="body-table">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    let productList = document.createElement('tr');

    const myHeaders = new Headers();
    myHeaders.append('authorization', `Bearer ${localStorage.token}`);

    fetch('http://localhost:4000/api/products', {
        method: 'GET',
        headers: myHeaders
    })
        .then(res => res.json())
        .then(data => {
            data.products.map(product => {
                let productList = document.createElement('tr');
                productList.innerHTML = `
                        <td>${product.nombre}</td>
                        <td>${product.category}</td>
                        <td>${product.description}</td>
                        <td>$ ${product.price}</td>
                `
                console.log(product);
                products = document.querySelector('#body-table');
                products.append(productList);
            })
        })

</script>